input{
    display: block; 
    width: 325px;
    margin: 15px auto;
}
form{
    margin-top: 100px;
    margin-left: 450px;
    margin-right: 450px;
    border: 2px solid black;
    background: white;
border-radius: 5px;
}
body{
 
    background-color: lightskyblue;
}
nav{
    background-color: white;
    padding: 40px;
}